/* bg color body #F6F8F9 */
/* bg color "add task" button and div.editorial #14AAF5 */
/* bg color div.q1-goals #AB5DE6 */
/* bg color div.recruiting #2CC6AB */
/* bg color div.mobile #FF9B00 */
/* bg color div.website #EC4A9D */
/* bg color div.sales #A3D116 */

/* common */

:root{
    --bgimage: url(../img/logo.jpg);
    --color-checked: rgb(57, 233, 57);
    --color-unchecked:red;
    --bgcolor-body: #F6F8F9;
    --bgcolor-site-header: white;
    --fontfamily: tahoma;
    --bgcolor-button-addtask: #14AAF5;
    --color-button-addcategory: #C4CBD0;
    --bgcolor-q1goals: #AB5DE6;
    --bgcolor-recruiting: #2CC6AB;
    --bgcolor-mobile: #FF9B00;
    --bgcolor-website: #EC4A9D;
    --bgcolor-sales: #A3D116;
}

body{
    margin: 0;
    background-color: var(--bgcolor-body);
    font-family: var(--fontfamily);
}

h1{
    display: inline-block;
    font-size: 3rem;
    vertical-align: top;
}

section{
    margin-bottom: 20px;
    padding-left: 50px;
}


/* #site-header */

#site-header{
    background-color: var(--bgcolor-site-header);
    margin-bottom: 50px;
}

.imglogo{
    display: inline-block;
    background-image: var(--bgimage);
    background-size: cover;
    width: 150px;
    height: 150px;
}

/* #site-main */

#site-main{
    background-color: var(--bgcolor-site-header);
    width: 1200px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#main-header{
    border-bottom: 2px solid var(--bgcolor-body);
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.addtask{
/*     margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
 */    color: var(--bgcolor-site-header);
    background-color: var(--bgcolor-button-addtask);
}

.addcategory{
    color: var(--color-button-addcategory);
    background-color: var(--bgcolor-site-header);
}

.addtask, .addcategory{
    padding: 0.5rem;
    border: 1px solid var(--color-button-addcategory);
    border-radius: 7px;
    width: 100px;    
}

.checked, .unchecked{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    line-height: 1rem;
    text-align: center;  
}

.checked{
    color: var(--color-checked);
}

.unchecked{
    color: var(--color-unchecked);
}

.downharrowhead {
    font-size: 1rem;
}

.task{
    margin-bottom: 10px;
}

.category{
        display: inline-block;
        padding: 0.5rem;
        font-size: 0.5rem;
        color: var(--bgcolor-site-header);
        border-radius: 10px;
        width: 35px;
        text-align: center;    
}

.category.editorial{
    background-color: var(--bgcolor-button-addtask);
}

.category.q1goals{
    background-color: var(--bgcolor-q1goals);
}

.category.recruiting{
    background-color: var(--bgcolor-recruiting);
}

.category.mobile{
    background-color: var(--bgcolor-mobile);
}

.category.website{
    background-color: var(--bgcolor-website);
}

 .category.sales{
     background-color: var(--bgcolor-sales);
 }