/* bg color body #F6F8F9 */
/* bg color "add task" button and div.editorial #14AAF5 */
/* bg color div.q1-goals #AB5DE6 */
/* bg color div.recruiting #2CC6AB */
/* bg color div.recruiting #FF9B00 */
/* bg color div.website #EC4A9D */
/* bg color div.sales #A3D116 */

/* common */

:root{
    --bgcolor-body: #F6F8F9;
    --bgcolor-site-header: white;
    --fontfamily: tahoma;
}

body{
    background-color: var(--bgcolor-body);
}

h1{
    display: inline-block;
    font-size: 7rem;
    vertical-align: top;
    font-family: var(--fontfamily);
}


/* #site-header */

#site-header{
    background-color: var(--bgcolor-site-header);
}

img.logo{
    width: 300px;
    height: 300px;
}


/* #site-main */